<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- Loading property file to read data -->
    <context:property-placeholder location="Coach.properties" />
    
    <!-- Bean for FortuneService -->
    <bean id="fortuneService" class="com.Spring.demo.dependencyInjection.HappyFortuneService" />
    
    <!-- Bean for CoachInfo -->
    <bean id="info" class="com.Spring.demo.dependencyInjection.CoachInfo" >
    <property name="name" value="${coach.name}"/>
    <property name="experience" value="${coach.experience}" />
    </bean>
    
     <!-- Bean Coach (can provide Class football as well to obtain football coach) -->
    <bean id="coach" class="com.Spring.demo.dependencyInjection.FootballCoach" 
    init-method="doCrazyStart" destroy-method="doCrazyStop"
    scope="prototype" autowire="byName">
    <constructor-arg ref="fortuneService" />
    <!-- <property name="info" ref="coachinfo"/> -->
    </bean>
    
</beans>    